.box-container{
    position: relative;
    width: 90%;
    min-height: 200px;
    box-sizing: border-box;
    border: 1px solid #6AC5AC;
    margin: auto 5% 20px 5%;
}

.box-description{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1em;
    background: #6AC5AC;
    padding: 0 3px 3px 0;
}

.block-box{
    display: block;
}

.flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.value-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.value-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.value-3{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
}

.value-3 > .bot:nth-child(2){
    align-self: center;
}

.value-3 > .bot:nth-child(3){
    align-self: flex-end;
}

.value-4{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: stretch;
    padding: 10px;
    box-sizing: border-box;
}

.value-4 > div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.value-5{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: stretch;
    padding: 10px;
    box-sizing: border-box;
}

.value-5 > div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.value-5 .bot{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #000;
}

.value-5 .middle-bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.value-6{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: stretch;
    padding: 10px;
    box-sizing: border-box;
}

.value-6 > div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.value-6 .bot{
    width: 40px;
    height: 40px;
}

.bot{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #000;
}

.inline-flex-box{
    display: inline-flex;
    /*justify-content: space-around;*/
}

.grid-box{
    display: grid;
    grid-column-start: 1;
    grid-column-end: span col4-start;
    grid-row-start: 2;
    grid-row-end: span 2;
}

.sz-box{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px #888888;
    margin: 20px 0 20px 0;
}

/*nth-​​child（3）*/
.inner-box{
    width: 22%;
    height: 50px;
    margin: 20px 0 20px 0;
    border: 1px solid black;
    box-sizing: border-box;
}