.title {
    background-color: gray;
    text-align: center;
    color: #fff;
}

.container{
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}   

.sb__container{
    overflow: hidden;
    padding: 0 200px 0 200px;
    box-sizing: border-box;
}

/*.sb__container:after{
    content: '';
    clear: both;
}*/

.sb__container > .column {
    float: left;
    height: 200px;
    position: relative;
}

.sb__block-middle{
    width: 100%;
}

.sb__block-left{
    width: 200px;
    background-color: red;
    margin-left: -100%; 
    /*当margin-left为百分比的，那么这个百分比是以父元素的内容长度的百分比，也就是去除父元素的padding magin bord长度留下来的内容长度的百分比*/
    /*left: -200px;*/
    right: 200px;
}

.sb__block-right{
    width: 200px;
    background-color: blue;
    margin-right: -200px;
}


.sfy__container{
    overflow: hidden;
    box-sizing: border-box;
}

.sfy__container > .column {
    float: left;
    height: 200px;
}

.sfy__block-left{
    width: 200px;
    background-color: red;
    margin-left: -100%; 
}

.sfy__block-middle{
    width: 100%;
}

.inner {
      margin: 0 200px;
      min-height: 200px;
      background: green;
      word-break: break-all;
}

.sfy__block-right{
    width: 200px;
    background-color: blue;
    margin-left: -200px;
}


.flex__container{
    display: flex;
    flex-flow: row nowrap;
    height: 200px;
}

.flex__block-left{
    flex: 0 0 200px;
    order: 0;
    background-color: red;
    color: #fff;
}

.flex__block-middle{
    flex: 1 1 auto;
    text-align: center;
    order: 1;
}

.flex__block-right{
    flex: 0 0 200px;
    order: 2;
    background-color: blue;
    color: #fff;
}
