.outer-box{
    width: 300px;
    height: 300px;
    margin: 20px auto;
    box-sizing: border-box;
    border: solid 1px black;
    position: relative;
}

.inner-box{
    width: 100px;
    height: 100px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    border: solid 1px blue;
}

.outer-box2{
    width: 300px;
    height: 300px;
    margin: 20px auto;
    box-sizing: border-box;
    border: solid 1px black;
    position: relative;
}

ul {
    list-style-type: none;
}
