<!DOCTYPE html>
<html>
<head>
    <title>页面布局</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href='./layout.css'>
</head>
<body>
    <div class="title">圣杯布局</div>
    <div class="sb__container">
        <div class="sb__block-middle column"></div>
        <div class="sb__block-left column"></div>
        <div class="sb__block-right column"></div>
    </div>

    <div class="title">双飞翼布局</div>
    <div class="sfy__container">
        <div class="sfy__block-middle column">
            <div class="inner">
                  我是中间11223344我是中间11223344
                  我是中间11223344我是中间11223344
                  我是中间11223344我是中间11223344
                  我是中间11223344我是中间11223344
                  我是中间11223344我是中间11223344
                  我是中间11223344我是中间11223344
                  我是中间11223344我是中间11223344
                  我是中间11223344我是中间11223344
            </div>
        </div>
        <div class="sfy__block-left column"></div>
        <div class="sfy__block-right column"></div>
    </div>

    <div class="title">flex实现</div>
    <div class="flex__container container">
        <div class="flex__block-middle">
            我是中间11223344我是中间11223344
            我是中间11223344我是中间11223344
            我是中间11223344我是中间11223344
            我是中间11223344我是中间11223344
            我是中间11223344我是中间11223344
            我是中间11223344我是中间11223344
            我是中间11223344我是中间11223344
            我是中间11223344我是中间11223344
        </div>
        <div class="flex__block-left">
            我是左边11223344
      
        </div>
        <div class="flex__block-right">
            我是右边11223344我是右边11223344
            我是右边11223344我是右边11223344
            我是右边11223344我是右边11223344
            我是右边11223344我是右边11223344
            我是右边11223344我是右边11223344
            我是右边11223344我是右边11223344
        </div>
    </div>
</body>
</html>